@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .intent{
        @apply flex justify-between items-center w-80 px-6 py-3 hover:bg-gray-700 hover:text-white bg-white cursor-pointer;
    }
}


h3{
    font-family: 'Ubuntu Mono';
    font-size: 1.5rem;
}
h4{
    font-family: 'Ubuntu Mono';
    font-size: 1rem;
}